$color-amethyst: #9b56db;
$color-rebecca-purple: #693d9c;
$color-russian-violent: #41245c;
$color-russian-violent-dark: #381f50;
$color-dark-purple: #261536;
$color-brick-red: #cc334d;
$color-rusty-red: #d92644;